[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "==2.8.4"
django-crispy-forms = "*"
crispy-bootstrap4 = "*"
django-allauth = "*"
pillow = "==9.3.0"
stripe = "*"
django-debug-toolbar = "*"

[dev-packages]

[requires]
python_version = "3.8"
