<!-- templates/about.html -->

{% extends '_base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
    <h1>About Page</h1>
    
    <p>
        Prime Climate Care (PCC) is a non-governmental organization with a strong commitment to addressing the pressing global issue of climate change. Founded with a visionary perspective.

        PCC’s journey began with the recognition of the profound and far reaching impacts of climate change on our planet.
    </p>
    

    <div class="card">

        <div class="container">
            <h1>VISION</h1>
                To become one of the global organizations of excellence which connect people together to promote good climate conditions and sustainable development.
        </div>

    </div>

    <div class="card">

        <div class="container">
            <h1>MISSION</h1>
        Ensuring that societies have proper understanding and awareness of climate change, including its impacts, for the best daily life and future life on planet earth.
        </div>
    </div>
     

{% endblock content %}